*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    gap: 0.5rem;
    background-color: yellow;
    padding: 0.5rem;
    min-height: 5rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.iten{
    background-color: chocolate;
    padding: 0.25rem;
    width: 10rem;

}
.iten2{
    align-self: stretch;
    
}